.card {
    height: 2rem;
    background-color: midnightblue;
    border-radius: 6px;
    width: 80%;
    color: #fff;

    display: flex;
    gap: 12px;
    align-items: center;
    padding-inline: 12px;

    margin-bottom: 6px;
}

.card small {
    margin-left: auto;
}